@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Resources used for more in-depth information about The SuperFriends were attained from the following sites:</p>
<ul>
    <li>
        <a href="https://superfriends.fandom.com/wiki/Super_Friends_Wiki">SuperFriends Wiki</a>
    </li>
    <li>
        <a href="https://www.dccomics.com/characters">DC Comics</a>
    </li>    
    <li>
        <a href="https://superheroapi.com/">SuperHero API</a>
    </li>
</ul>
