@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron">
        <h1>The SuperFriends</h1>
        <p class="lead">The SuperFriends is collection of cartoon series that began in the 1970s by Hanna-Barbera, based on DC Comics' Justice League of America.  The various versions of the cartoon series ran from 1973 through 1985.  From the series, a comic book series was derived by E. Nelson Bridwell, which ran from 1976 to 1981.</p>
        <p><a href="https://superfriends.fandom.com/wiki/Super_Friends_Wiki" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Meet the SuperFriends</h2>
            <p>
                An index of all the superheroes that make up the group known as "The SuperFriends."
            </p>
            <p>@Html.ActionLink("View Characters »", "Index", "SuperFriends", null, new { @class = "btn btn-primary" })</p>
        </div>
        <div class="col-md-4">
            <h2>Get to know your heroes</h2>
            <p>View the biography of your favorite character(s) to find out more in-depth information about the hero's background information.</p>
            <p>@Html.ActionLink("View Bios »", "Index", "Biography", null, new { @class = "btn btn-primary" })</p>
        </div>
        <div class="col-md-4">
            <h2>See them in ACTION!</h2>
            <p>You can watch a sample of this cartoon series below...</p>
            <p><a class="btn btn-primary" href="https://youtube.com/playlist?list=PLSl9_LkNTzSHtGg1d22qRvb8yLH9O9FhC" target="_blank">Watch on YouTube &raquo;</a></p>
        </div>
    </div>
